# Use symlinks for node_modules
symlink=true

# Hoist packages to the root node_modules
shamefully-hoist=true

# Strict peer dependencies
strict-peer-dependencies=false

# Auto install peers
auto-install-peers=true
